{% extends "form.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <h2 class="featurette-heading" id="qa_mean">
        <span class="text-muted small">工作指南</span>
    </h2>
    <div class="row">
        <div class="col-lg-8 mx-auto">
                <div id="accordion" class="faq accordion accordion-custom pb-5">
                    <!-- question-->
                    <div class="card">
                        <div id="headingOne" class="card-header">
                            <h4 class="mb-0 accordion-heading">
                                <button data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-flex align-items-center">
                                    <i class="icon-light-bulb"></i>
                                    <span>1.扬州大学通识公共选修课管理办法</span>
                                </button>
                            </h4>
                        </div>
                        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show">
                            <div class="card-body">扬州大学通识公共选修课管理办法</div>
                        </div>
                    </div>
                    <!-- question        -->
                    <div class="card">
                        <div id="headingTwo" class="card-header">
                            <h4 class="mb-0 accordion-heading">
                                <button data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-flex align-items-center collapsed">
                                    <i class="icon-plug"></i>
                                    <span>2.扬州大学通识核心课程清单</span>
                                </button>
                            </h4>
                        </div>
                        <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                            <div class="card-body">扬州大学通识核心课程清单</div>
                        </div>
                    </div>
                    <!-- question-->
                    <div class="card">
                        <div id="headingThree" class="card-header">
                            <h4 class="mb-0 accordion-heading">
                                <button data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-flex align-items-center collapsed">
                                    <i class="icon-shield-settings"></i>
                                    <span>3.扬州大学通识公共选修课申报表</span>
                                </button>
                            </h4>
                        </div>
                        <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                            <div class="card-body">扬州大学通识公共选修课申报表</div>
                        </div>
                    </div>
                    <!-- question            -->
                    <div class="card">
                        <div id="headingFour" class="card-header">
                            <h4 class="mb-0 accordion-heading">
                                <button data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-flex align-items-center collapsed">
                                    <i class="icon-stack-of-sheets"></i>
                                    <span>4.关于开展校第二批通识公共选修课程申报建设工作的通知</span>
                                </button>
                            </h4>
                        </div>
                        <div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion" class="collapse">
                            <div class="card-body">关于开展校第二批通识公共选修课程申报建设工作的通知</div>
                        </div>
                    </div>
                </div>
                </div>

        
        <aside class="sidebar col-lg-4 mt-5 mt-lg-0">
            <div class="search mb-4">
                <form action="#" class="search-form">
                    <div class="form-group">
                        <input type="search" name="search" placeholder="指南查询" class="form-control">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="sidebar-widget mb-4">
                <h4 class="sidebar-widget-heading">工作指南</h4>
                <ul class="list-inline pl-0 mt-4">
                    <li class="list-inline-item mr-0">
                        <a href="#" class="tag-link">新课申报</a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a href="#" class="tag-link">网站建设</a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a href="{{ url_for("guide.contact")}}" class="tag-link">联系我们</a>
                    </li>
                    <li class="list-inline-item mr-0">
                        <a href="#" class="tag-link">系统管理</a>
                    </li>

                </ul>
            </div>
            <div class="sidebar-widget">
                <h5>{{ _('核心课程办公室') }}</h5>
                <p> 传真：0514-87971692</p>
                <p> 邮箱：jiaowu@yzu.edu.cn</p>
                <p> 地址：江苏省扬州市大学南路88号</p>
                <p> 邮政编码：225009</p>
            </div>
        </aside>                            
    </div>

</div>



{% endblock %}
