{% extends "form.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <p>
                <strong>附件2</strong>
            </p>
            <p>&nbsp;</p>
            <p>
                <strong>
                    <strong>扬州大学通识公共选修课管理办法</strong>
                </strong>
            </p>
            <p>
                <strong>
                    <strong>&nbsp;</strong>
                </strong>
            </p>
            <p>为进一步深化教育教学改革，拓宽学生视野，提高学生素养，提升学生创新创业能力，推进我校&ldquo;国内一流、国际知名、特色鲜明的高水平研究型大学&rdquo;建设，根据《扬州大学关于全面深化综合改革的实施意见》精神，特制定本办法。</p>
            <p>
                <strong>
                    <strong>一、总体目标</strong>
                </strong>
            </p>
            <p>坚持立德树人、坚苦自立，为创新创业教育提供更多批判思维、知识拓展和能力提升等非专业教育，培养具有科学与人文精神、创新意识和实践能力的德、智、体、美全面发展、人格健全和具备一定领导力的社会主义合格建设者和可靠接班人。</p>
            <p>
                <strong>
                    <strong>二、课程体系</strong>
                </strong>
            </p>
            <p>通识公共选修课程体系由核心课程和非核心课程两部分组成。</p>
            <p>（一）核心课程</p>
            <p>核心课程是指培养大学生具有科学与人文精神、创新意识和实践能力所应该了解的科学创新、文化精粹和艺术欣赏等课程。通过学习，促使学生对科学、人文和艺术保持尊重和敬仰，养成对客观世界和人类社会能够作出理性分析和客观评价的良好习惯。</p>
            <p>核心课程分3个类别：人文与社会科学类、自然科学与工程技术类、艺术类。</p>
            <p>（二）非核心课程</p>
            <p>非核心课程是以呈现我校教师的教学研究成果、满足学生的求知欲和激发学习兴趣为内容的课程。</p>
            <p>非核心课程分为3个类别：人文与社会科学类、自然科学与工程技术类、艺体与通用技能类（含语言、艺术、体育、心理学、医学、烹饪、法律、通用技能实验等）。</p>
            <p>（三）通识公共选修课程的基本特征</p>
            <p>1．基本性：课程应有利于学生了解人类文明中最基本的知识和方法。课程所探讨的问题应适合全体学生学习，以无需预先修读系统性专业知识为前提。</p>
            <p>2．整合性：课程应整合不同领域的知识，建立学科之间的关联，有利于激发学生的创新思维，培养学生创造性解决问题的能力，应尽可能地反映学科新成果、新趋势、新信息。</p>
            <p>3．深刻性：课程应提供学生分析问题的多种视角，能够启发学生的心智，引导学生了解和掌握学科的思维方法和研究方法，发展完备理性，培养优美情感，陶冶高尚品格，提升内涵气质。</p>
            <p>（四）学生修读要求</p>
            <p>全校本科生须修满不少于10学分的通识公共选修课。具体要求为：</p>
            <p>所有学生须在核心课程体系中修读艺术类课程不少于2学分，文科学生修读自然科学与工程技术类课程不少于4学分，理科学生修读人文与社会科学类课程不少于4学分。</p>
            <p>所有学生在核心课程和非核心课程体系中，自由选择修读其他4学分的课程。学生修读与本专业重复或相近的课程，则不计入通识教育学分。</p>
            <p>（五）课程学分和课程班级规模</p>
            <p>通识公共选修课每门课程2个学分，少数课程可酌情申报1学分或者3学分。课程班级规模一般在60-120人范围内。鼓励教学效果好的课程开设平行班，扩大学生受益面。</p>
            <p>
                <strong>
                    <strong>三、申报要求</strong>
                </strong>
            </p>
            <p>（一）核心课程的申报要求</p>
            <p>学校拟建设50门左右的人文与社会科学类、自然科学与工程类、艺术类核心课程。</p>
            <p>课程申报可以是个人独立申报或团队申报。鼓励接受通识教育理念、具有育人责任心、教学经验丰富、科研基础厚实、学术视野宽广的高级职称的教师独立申报（每位教师限报2门），申报人不受学科、专业或年龄的限制。</p>
            <p>如需采取团队申报，鼓励组织跨学科团队和引入校外优质师资。课程申报团队须对教学内容、教材建设、考核办法、课程组织形式等方面进行前期深入讨论和准备，形成统一认识，保证教学思路清晰、内容系统连贯。在教学设计中，团队内的高级职称教师授课总时数不少于本课程总课时的55%；若团队中有教授成员，则其授课时数应不少于本课程总课时的20%。</p>
            <p>课程申报经学院初审后汇总报教务处，学校组织专家按照遴选标准进行评审，择优建设、择优聘请，通过校园网公布入选名单。教务处对获批立项建设的核心课程，根据实际需要，给予适当的课程建设经费支持。</p>
            <p>获资助的核心课程建设目标，除完成正常的授课外，还应至少形成下列成果：（1）建设供学生自主学习的课程网站；（2）3年内编写出优质、适用的教材或教学参考资料；（3）研究并采用多样化的教学方法与考试方法。</p>
            <p>（二）非核心课程的申报要求</p>
            <p>非核心课程首先从学校已经开出的、教学效果好的公共选修课中遴选；同时，依据通识教育的理念和培养目标，学校组织专家从全校范围内征集的相关课程中择优遴选。</p>
            <p>（三）所有申报课程须填写《扬州大学通识公共选修课申请表》和《扬州大学通识公共选修课教学计划表》。</p>
            <p>
                <strong>
                    <strong>四、教学要求</strong>
                </strong>
            </p>
            <p>（一）课程教学应重启发思考、提供学生多元化的解决问题方法，培养学生发现问题、分析问题和解决问题的能力。</p>
            <p>（二）课程教学应积极运用研究性教学，提倡问题导向、项目参与、角色扮演等形式多样的教学方法，有效调动学生的学习积极性，鼓励大班讲授与小班讨论相结合。</p>
            <p>（三）鼓励应用教学信息化技术合理辅助较大班级规模的课堂教学，鼓励采用混合式教学模式，适时使用在线开放课程资源。</p>
            <p>（四）教师应注重学生学习过程考核与学习结果考核相结合，采用多样化的考核方式和考核指标评定学生的课程成绩。</p>
            <p>
                <strong>
                    <strong>五、建设保障</strong>
                </strong>
            </p>
            <p>（一）组织保障</p>
            <p>学校成立由分管校长为主任委员的通识教育教学指导委员会，加强通识教育的统筹设计和管理，审定通识教育的所有课程。成立通识教育管理办公室，负责落实通识教育教学指导委员会的各项决议，做好通识公共选修课程的日常管理。</p>
            <p>（二）质量保障</p>
            <p>学校鼓励广大教师特别是高学历、高职称的教师关注并主动参与通识公共选修课的教学活动。定期组织开展形式多样的通识公共选修课的教育教学研讨活动，邀请校内外专家与通识课程开课教师交流，发现问题，寻求对策。建立和完善通识公共选修课程的遴选和退出机制、通识教育教学激励机制。</p>
            <p>（三）经费保障</p>
            <p>学校设立通识教育发展专项建设基金，主要用于通识教育教师教学能力建设、课程建设、教材建设、优质课程资源与图书资料购买、专家讲座以及教学质量评价评估等。</p>
            <p class="mt-5"><h5>{{ _('核心课程办公室') }}</h5>
            <p> 传真：0514-87971692</p>
            <p> 邮箱：jiaowu@yzu.edu.cn</p>
            <p> 地址：江苏省扬州市大学南路88号</p>
            <p> 邮政编码：225009</p></p>
        </div>
    </div>

</div>



{% endblock %}
