{% extends 'form.html' %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="featurette-heading" id="qa_mean">
        <span class="text-muted small">人文与社会科学类课程</span>
    </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="{{ url_for('images.crop', filename='class1.jpg', height=170,width=225, quality=95) }}" alt="Image">
                <div class="card-body">
                    <h6 class="jumbotron-heading">文史经典</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                        <small class="text-muted">1 st</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="{{ url_for('images.crop', filename='class2.jpg', height=170,width=225, quality=95) }}" alt="Image">
                <div class="card-body">
                    <h6 class="jumbotron-heading">古典诗文吟诵</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                        </div>
                        <small class="text-muted">2 st</small>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="{{ url_for('images.crop', filename='class2.jpg', height=170,width=225, quality=95) }}" alt="Image">
                <div class="card-body">
                    <h6 class="jumbotron-heading">医疗卫生保健</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                        </div>
                        <small class="text-muted">3 st</small>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                 
                <img class="card-img-top img-fluid" data-src="holder.js/170px225?theme=thumb&bg=55595c&fg=eceeef&text=image" alt="Image">
                <div class="card-body">
                    <h6 class="jumbotron-heading">建筑环境控制与可再生能源利用</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                        </div>
                        <small class="text-muted">4 st</small>
                    </div>
                </div>
            </div>
        </div>  
    </div>
        {% block footer %}{{super()}} {% endblock %}
    </div>
     
</div>
{% endblock %}



{% block scripts %}
{{ super() }}

{% endblock %}

