{% extends 'form.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/dashboard.css' )}}">		
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="featurette-heading" id="qa_mean">
        <span class="text-muted small">精品课程</span>
    </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="{{ url_for('images.crop', filename='class1.jpg', height=170,width=225, quality=95) }}" alt="Image">
                <div class="card-body">
                    <h6 class="jumbotron-heading">古希腊文明研究</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        </div>
                        <small class="text-muted">1 st</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="{{ url_for('images.crop', filename='class2.jpg', height=170,width=225, quality=95) }}" alt="Image">
                <div class="card-body">
                    <h6 class="jumbotron-heading">中国现代文学名著选讲</h6>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                        </div>
                        <small class="text-muted">2 st</small>
                    </div>
                </div>
            </div>
        </div>
        {% block footer %}{{super()}} {% endblock %}
    </div>
     
</div>
{% endblock %}



{% block scripts %}
{{ super() }}

{% endblock %}

