<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="{{ url_for('images.crop', filename=post.avatar(64),  height=170,width=225, quality=95, enlarge=True) }}" alt="Image">
        <div class="card-body">
            <p class="card-text">{{ post.title }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{ url_for('admin.view_course',title=post.title)}}" class="page-link btn-outline-secondary">预览</a>
                    <a href="{{ url_for('admin.edit_course',title=post.title)}}" class="page-link btn-outline-secondary">编辑</a>
                </div>
                <small class="text-muted">{{ post.timestamp.strftime('%Y-%m-%d') }}</small>
            </div>
        </div>
    </div>
</div>
