{% extends "form.html" %}
{% block styles %}
{{ super() }}
<style>
    body>.container {
        padding: 60px 15px 0;
    }
</style>
{% endblock %}


{% block extra %}
    <li class="nav-item dropdown">
        <a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">用户</a>
        <div class="dropdown-menu">
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('admin.login') }}" class="dropdown-item">登录</a>   
            {% else %}
                <a href="{{ url_for('admin.user', username=current_user.username) }}" class="dropdown-item">个人主页</a>
                <a href="{{ url_for('admin.course',q_c=0,q_name=current_user.username)}}" class="dropdown-item">我的课程</a>
                 
                <a href="{{ url_for('admin.logout') }}" class="dropdown-item">退出</a>
            {% endif %}
        </div>
    </li>
{% endblock extra %}


