{% extends "admin/base.html" %}
{% block styles %} 
{{ super() }}
<style>

    
    body {
      padding-top: 56px;
    }
    
    .text-white-50 { color: rgba(255, 255, 255, .5); }
    
    .bg-purple { background-color: #3c97bb; }
    
    .border-bottom { border-bottom: 1px solid #e5e5e5; }
    
    .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
    
</style>
{% endblock %}

{% block app_content %}

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="{{ url_for('images.crop', filename=current_user.avatar(64), width=48, height=48, quality=50, enlarge=True) }}" alt="">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">{{ current_user.username }}</h6>
            <small>上次登录:{{ current_user.last_seen.strftime('%Y-%m-%d') }}</small>
        </div>
    </div>
    {% for post in posts %}
    <div>
        <p>{{ post.author.username }} says:
            <b>{{ post.body }}</b>
        </p>
    </div>
    {% endfor %}
     
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">用户资料</h5>
                    <p class="card-text">请完善以下信息,以获得更高权限</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="card-link">邮箱认证</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('admin.edit_profile')}}" class="card-link">填写额外信息</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">课程申请</h5>
                        <p class="card-text">准备以下基本内容进行申请</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">课程名称,简介,封面</li>
                        <li class="list-group-item">
                            <a href="#" class="card-link">开始申请</a>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">课程提交</h5>
                        <p class="card-text">准备以下内容进行提交</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">章节名称,概要,封面,视频</li>
                        <li class="list-group-item">
                            <a href="#" class="card-link">开始提交</a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
{% endblock %}