{% extends "admin/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <header class="section-header">
    <h2 class="mb-2">用户注册</h2>
    </header>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            var $src = $('select');
            $src.removeClass('form-control').addClass('custom-select');
            $src.attr("multiple", false);
        }
        );
    </script>
{% endblock %}
