{% extends 'bootstrap/base.html' %}

{% set main=main or"" %}
{% set dashboard=dashboard or"" %}
{% set guide=guide or"" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/bootstrap.min.css' )}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/base.css' )}}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - {{ _('NVH Tech') }}{% else %} {{ _('NVH Tech') }}{% endif %}
{% endblock %}

{% block head %}
    {{super()}}
    {% block favicon %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for( 'static',filename='images/logo/base.png' )}}">
    {% endblock %}

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html" />
        <meta name="author" content="Monius" />
        <meta name="description" content="Generation Education" />
        <meta name="keywords" content="Generation,Education,YZU,扬州大学，通识教育，教务处 " />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
{% endblock %}


{% block navbar %}
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                    <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                    <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                    <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                    <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                    <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                </svg>
            </a>
            <a class="py-2 d-none d-md-inline-block" href="#">Tour</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Product</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Features</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>
        </div>
    </nav>

{% endblock %}
{%- block content %}
    {{super()}}
    <main role="main">
        {% block app_content %}{% endblock %}
        {%- block footer %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <footer class="container py-5">
            <p class="float-right"><a href="#">Top</a></p>
            <div class="d-block mb-3 text-muted">
                <p>&copy; 2017-2018 Monius, All rights reserved. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                </div>
            </footer>
        {%- endblock footer %}
    </main>

{%- endblock content %}

{% block scripts %}
<script src="{{ url_for( 'static',filename='js/jquery-3.3.1.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/bootstrap.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/popper.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/holder.min.js' )}}"></script>
{% endblock %}
