{% extends 'bootstrap/base.html' %}

{% set main=main or"" %}
{% set module=module or"" %}
{% set guide=guide or"" %}
{% set experiment=experiment or"" %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/bootstrap.min.css' )}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/font-awesome.min.css' )}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/font.css' )}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/lightbox.css' )}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/fontastic.css' )}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/style.blue.css' )}}">
<link rel="stylesheet" type="text/css" href="{{ url_for( 'static',filename='css/base.css' )}}">

{% endblock %}

{% block title %}
    {% if title %}{{ title }} - {{ _('扬州大学通识教育') }}{% else %} {{ _('扬州大学通识教育') }}{% endif %}
{% endblock %}

{% block head %}
    {{super()}}
    {% block favicon %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for( 'static',filename='images/logo/outter.png' )}}">
    {% endblock %}

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html" />
        <meta name="author" content="Monius" />
        <meta name="description" content="Generation Education" />
        <meta name="keywords" content="Generation,Education,YZU,扬州大学，通识教育，教务处 " />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
{% endblock %}


{% block navbar %}
    <header class="header">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                    <h5>
                        <a href="{{ url_for('main.index')}}" class="navbar-brand">
                            <img src="{{ url_for('static',filename='images/logo/inner.svg')}}" alt="" class="img-fluid">
                        {{ _('扬州大学通识教育') }}
                        </a>
                    </h5>
                
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">Menu
                    <i class="fa fa-bars ml-2"></i>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <!-- Link-->
                        <li class="nav-item {{ main }}">
                            <a class="nav-link" href="{{ url_for('main.index')}}">{{ _('首页') }}</a>
                            <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item {{ experiment }}">
                            <a class="nav-link" href="{{ url_for('module.index')}}">{{ _('模块与课程') }}</a>
                        </li>
                        <li class="nav-item {{ guide }}">
                            <a class="nav-link" href="{{ url_for('guide.index')}}">{{ _('工作指南') }}</a>
                        </li>
                        <li class="nav-item {{ module }}">
                            <a class="nav-link" href="{{ url_for('experiment.index')}}">{{ _('通识实验') }}</a>
                        </li>
                        {% block extra %} {% endblock extra %}
                    </ul>

                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{%- block content %}
    {{super()}}
    <main role="main">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block app_content %}{% endblock %}
        
        {%- block footer %}
            <footer class="container">
                <hr>
                <p class="float-right"><a href="#">返回顶部</a></p>
                <p class="copyrights-text mb-3 mb-lg-0">&copy; 创建于2018年5月
                    <a href="https://github.com/Mon-ius/Generate-education" >By Monius</a>
                </p>
            </footer>
        {%- endblock footer %}
    </main>
{%- endblock content %}

{% block scripts %}
<script src="{{ url_for( 'static',filename='js/jquery-3.3.1.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/popper.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/bootstrap.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/jquery.cookie.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/lightbox.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/holder.min.js' )}}"></script>
<script src="{{ url_for( 'static',filename='js/front.js' )}}"></script>
{% endblock %}
